
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.searchBar {
    justify-content: center;
    align-content: center;
}

button {
    margin: 1em;
}

